.box{

    background-color: #555555;
    width: 420px;
    height: 270px;
    border: 25px solid #222222;
    padding: 25px;
    margin-left: 420px;
    margin-top: 140px;
}
form{
    margin-top: 10px;
    padding-left: 10px;
    align-content: center;
    text-align: center;
}
#pas{
    color:#cbd0ce;
}

label{

    color: #cbd0ce;
    position:absolute;
     left:485px;
}
input{
    position :absolute;
    left:620px;
}
select{
    position :absolute;
    left:620px;
    width: 175px;

}
p{
    position:absolute;
     left:481px;
     color:#edede9;

}
#pas{
    position:absolute;
    left:811px;
    display: inline-block;
}
button{
    float:left;
    background-color: #f0f0f0;
    height:35px;
    width:80px;
}